@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

/* Scrollbar - WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: #10b981;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color: #d1d5db;
    border-radius: 3px;
}

/* Scrollbar - Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #10b981 #d1d5db;
}

/* Scrollbar - IE/Edge */
body {
    -ms-overflow-style: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body {
        scrollbar-face-color: #10b981;
        scrollbar-track-color: #d1d5db;
        scrollbar-arrow-color: #10b981;
        scrollbar-shadow-color: #10b981;
    }
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 6px;
    }
}

.hover-image {
    aspect-ratio: 9/16;
    object-fit: cover;
}

